/* @media screen and (min-width:500px) {
    
} */

body{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
#vl {
    /* display: block; */
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-top: 20px;  
    border-left: 6px solid #61ce8c;
    height: 120px;
    position: absolute;
    max-width: 900px;
    /* top: 20; */
}  
section {
    align-content:left;
    /* padding: 10px; */
    margin-bottom: 20px;
}
section h1{
    font-size: 40px;
    font-weight: 300;
    margin: 0px;
}
#light-green{
    font-weight: 300;
    font-size: 26px;
    padding: bottom 5px; 
}
section h2 {
    font-size: 14px;
    color: #00ab44;
    font-weight: 700;
}
section h3,p{
    font-size: 14px;
    margin-bottom: 5px;
}
#light-grey{
    font-size: 12px;
    font-weight: 300;
    color: grey;
}
ul {
  list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');