@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
/* for all screeen sizes */
body,h1,ul,p,h2,h3,#Student{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    padding-right: 20px;
    }
#vl {
/* display: block; */
margin-left: 50px;
margin-top: 20px;
padding-left:30px;
padding-top: 10px;  
border-left: 6px solid #61ce8c;
height: 170px;
position: absolute;
max-width: 900px;
/* top: 20; */
}  
section {
align-content:left;
margin-bottom: 15px;
}

/* for pcs and tablets */
section h1{
    font-size: 48px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
#Student{
    font-weight: 400;
    font-size: 32px;
    /* padding-bottom:5px;  */
}
section h2 {
    font-size: 18px;
    color: #00ab44;
    font-weight: 900;
}
section h3{
    font-size: 18px;
    margin-bottom: 0px;
}
section p,ul,a{
    font-size: 18px;
    margin-bottom: 5px;
}
#light-grey{
    font-size: 16px;
    font-weight: 500;
    color: grey;
}
ul {
  list-style-type: none;
}

/* For phones */
@media screen and (max-width:750px) {
    #vl {
        margin-left: 30px;
        padding-left: 20px;
        height: 140px;
    }
    section h1{
        font-size: 40px;
        font-weight: 400;
    }
    #Student{
        font-weight: 400;
        font-size: 26px;
    }
    section h2 {
        font-size: 18px;
        color: #00ab44;
        font-weight: 700;
        margin-bottom: 5px;
    }
    section h3{
        font-size: 16px;
        margin-bottom: 0px;
    }
    section p,a,li{
        font-size: 16px;
        margin-bottom: 3px;
    }
    #light-grey{
        font-size: 14px;
        font-weight: 300;
        color: grey;
        padding: 0px;
        margin: 0px;
    }       
}